<%= form_for(@mascotum) do |f| %>
  <% if @mascotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mascotum.errors.count, "error") %> prohibited this mascotum from being saved:</h2>

      <ul>
      <% @mascotum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :especie %><br />
    <%= f.text_field :especie %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :pelo %><br />
    <%= f.text_field :pelo %>
  </div>
  <div class="field">
    <%= f.label :tamaño %><br />
    <%= f.text_field :tamano %>
  </div>
  <div class="field">
    <%= f.label :caracter %><br />
    <%= f.text_field :caracter %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>

  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </div>
<%= @creator%>
  <div class="field">
	
	<% if @creator == 0 %>
	<%= f.hidden_field :protectora, :value=> @creadorID   %>
	
	
	<% elsif @creator == 1 %>
	    	<%= f.hidden_field :protectora, :value=> @creadorID   %>
	
	
	<%end%>
	  <div class="field">
	<% if @creator == 2 %>
	
	    	<%= f.text_field :protectora, :value=> @creadorID  %>
	<%end%>
	<%= f.hidden_field :creator, :value=> @creator   %>

 
  </div>
  <div class="field">
    <%= f.label :status %><br />
	<%= f.select( "status", { "En adopción" => "0", "Adoptado" => "1"}) %>
  </div>
<% if !admin_signed_in? %>
    <%= f.hidden_field :destacado, :value => @destacados %>
<%end%>
  <div class="field">
<% if admin_signed_in? %>
    <%= f.check_box :destacado %>
<%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
