<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:700,400italic' rel='stylesheet' type='text/css' />
<h1 style="font-size:30px; color:grey; margin-top:30px;">Protectoras</h1>
<%= image_tag "adopta-bar.png"%>

<noscript>
	<style>
		.da-thumbs li a div {
			top: 0px;
			left: -100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}
		.da-thumbs li a:hover div{
			left: 0px;
		}
	</style>
</noscript>
		


		 <div class="container">

				<section>
					<ul id="da-thumbs" class="da-thumbs">
					
								<% @protectoras.each do |protectora| %>
												<li>
													<%= link_to protectora do %>
														<%= image_tag protectora.logo.url(:thumb) %>
														<div><span><%= protectora.nombre%></span></div>
													<%end%>
												</li>
								<%end%>
					</ul>
				</section>
	        </div>

	

	







	<script type="text/javascript">
		$(function() {
		
			$('#da-thumbs > li').hoverdir();

		});
	</script>







<!-- <h1>Listing protectoras</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Responsable</th>
    <th>Email</th>
    <th>Twitter</th>
    <th>Facebook</th>
    <th>Telefono</th>
    <th>Logo</th>
    <th>Zona</th>
    <th>Autorizada</th>
    <th>Extra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @protectoras.each do |protectora| %>
  <tr>
    <td><%= protectora.nombre %></td>
    <td><%= protectora.responsable %></td>
    <td><%= protectora.email %></td>
    <td><%= protectora.twitter %></td>
    <td><%= protectora.facebook %></td>
    <td><%= protectora.telefono %></td>
    <td><%= protectora.logo %></td>
    <td><%= protectora.zona %></td>
    <td><%= protectora.autorizada %></td>
    <td><%= protectora.extra %></td>
    <td><%= link_to 'Show', protectora %></td>
    <td><%= link_to 'Edit', edit_protectora_path(protectora) %></td>
    <td><%= link_to 'Destroy', protectora, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Protectora', new_protectora_path %> -->
