<%if @currentUserPass == true %>	
Mis mascotas<br>
	
	<% if user_signed_in? %>
		<%= @currentUser.email %> 
	<%end%>
	<br>
	
	<% if admin_signed_in? %>
		<%= @currentUser.name %> 
	<%end%><br>
	
	
	<% if protectora_signed_in? %>
		<%= @currentUser.nombre %> 
	<%end%>
	
	
	<%if @misMascotas != nil%>
	<% @misMascotas.each do |miMascota| %>
	<%= link_to mascotum_path(miMascota) do %>
	<%= miMascota.nombre%>
	<%end%>
	</a>
	<% if miMascota.status.to_i == 0
		@status = "En adopción"
	
	   elsif miMascota.status.to_i == 1
		@status = "Adoptado"
	end
	%>
	
	<%= @status%>
	
	 <td><%= link_to 'Edit', edit_mascotum_path(miMascota) %></td>
	<td>Formularios: <%= miMascota.formularios.count%> </td>
	<% miMascota.formularios.each do |formulario|%>
    <%= link_to 'Show', formulario %>
	<%end%>
    <br>
	<%end%>
	<%end%>


<% else %>
Upa upa a dónde?
<%end%>

